### Задание1.

Импортируйте библиотеку Numpy и дайте ей псевдоним np.
Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк
и 2 столбцов. Первый столбец должен содержать числа 1, 2, 3, 3, 1, 
а второй - числа 6, 8, 11, 10, 7. Будем считать, что каждый столбец - это признак, 
а строка - наблюдение. Затем найдите среднее значение по каждому признаку,
используя метод mean массива Numpy. Результат запишите в массив mean_a, 
в нем должно быть 2 элемента.

In [2]:
import numpy as np
a = np.array([[1,6],
              [2,8],
              [3,11],
              [3,10],
              [1,7]])
print(a)

[[ 1  6]
 [ 2  8]
 [ 3 11]
 [ 3 10]
 [ 1  7]]

In [3]:
print("Среднее значение по каждому признаку: {}".format(a.mean(axis=0)))

Среднее значение по каждому признаку: [2.  8.4]

In [ ]:
Задание 2
Вычислите массив a_centered, отняв от значений массива “а” средние значения соответствующих признаков, 
содержащиеся в массиве mean_a. Вычисление должно производиться в одно действие. Получившийся массив должен иметь размер 5x2.

In [6]:
import numpy as np
a = np.array([[1,6],
              [2,8],
              [3,11],
              [3,10],
              [1,7]])

mean_a = np.array([2,8.4])
a_centered = a - mean_a
print(a_centered)

[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

In [ ]:
Задание 3
Найдите скалярное произведение столбцов массива a_centered. В результате должна получиться величина a_centered_sp.
Затем поделите a_centered_sp на N-1, где N - число наблюдений.

In [14]:
import numpy as np
a_centered_0 = np.array([-1,0,1,1,-1])
a_centered_1 = np.array([-2.4,-0.4,2.6,1.6,-1.4])
a_centered_sp = a_centered_0 @ a_centered_1
print(a_centered_sp)

8.0

In [16]:
import numpy as np
cov_a = a_centered_sp / (a.size - 1)
print(cov_a)

0.8888888888888888

In [ ]:
Pandas
Задание1
Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, 
в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].
Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные:  
[1, 1, 1, 2, 2, 3, 3],
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
[450, 300, 350, 500, 450, 370, 290].

In [1]:
import pandas as pd
authors = {"author_id": [1, 2, 3], "author_name": ['Тургенев','Чехов','Островский']}
df_authors = pd.DataFrame(authors)
df_authors

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [3]:
book = {"author_id": [1, 1, 1, 2, 2, 3, 3], 
        "book_title": ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 
                       'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
        "price": [450, 300, 350, 500, 450, 370, 290]}
df_book = pd.DataFrame(book)
df_book

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

In [ ]:
Задание2
Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [6]:
authors_price = pd.merge(df_authors, df_book, on='author_id', how='inner')
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

In [ ]:
Задание3
Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [7]:
top5 = authors_price.sort_values(by='price')
top5

   author_id author_name            book_title  price
6          3  Островский  Таланты и поклонники    290
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
5          3  Островский                 Гроза    370
0          1    Тургенев           Отцы и дети    450
4          2       Чехов       Дама с собачкой    450
3          2       Чехов      Толстый и тонкий    500